<% include ./layouts/head %>
<div class="row" id="loguineo">
	<div class="col s2"></div>
	<div class="col s8">
		<div class="row">
			<div class="col s12 l8 offset-l2"><img class="responsive-img" src="/assets/Logo_bubook.png"></div>
		</div>
		<div class="row" id="recuadro">
			<div class="col s12">
				<div class="row">
					<div class="col s12">
						<h3 class="center">Necesita iniciar sesi칩n con Github <i aria-hidden="true" class="fa fa-github"></i></h3>
					</div>
				</div>
				<div class="input-field col s12" id="col_boton_github">
					<a class="waves-effect waves-light btn-large" href="/login/github">Iniciar sesi칩n</a>
				</div>
				<form class="col s12 hide">
					<div class="row">
						<div class="input-field col s12">
							<i class="material-icons prefix">mail</i> <input class="validate" id="email" type="email"> <label for="email">Correo electr칩nico</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<i class="material-icons prefix">lock_outline</i> <input class="validate" id="password" type="password"> <label for="password">Contrase침a</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12 l8">
							<a class="waves-effect waves-light btn-large"><i class="material-icons left">send</i>Enviar</a>
						</div>
						<div class="input-field col s12 l4">
							<a class="waves-effect waves-light btn-large"><i class="material-icons left">people</i>Modo invitado</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<% include ./layouts/footer %>