	</main>
	<footer class="page-footer">
		<div class="footer-copyright">
			<div class="row">
				<div class="col s12 center">
					<div class="col s4">
						<a class="white-text enlaces_footer" href="https://alu0100505078.github.io/" target="_blank">Pedro Ramos</a>
					</div>
					<div class="col s4">
						<a class="white-text enlaces_footer" href="https://danielramosacosta.github.io/" target="_blank">Daniel Ramos</a>
					</div>
					<div class="col s4">
						<a class="white-text enlaces_footer" href="https://rafaherrero.github.io/" target="_blank">Rafa Herrero</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js" type="text/javascript">
	</script>
</body>
</html>